resident-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  h1,h2,h3,h4,h5,h6 {
    margin-left: 16px;
  }
  md-list-item {
    .md-button {
      display: flex;
      text-align: start;
      padding: 0 16px;
      font-weight: inherit;
      font-size: inherit;
      text-transform: none;
      border-radius: 0;
      margin: 0;
      width: 100%;
      md-icon {
        margin-top: 16px;
        margin-right: 32px;
        margin-bottom: 12px;
      }
    }
  }
  md-card img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

