<div layout="column" flex>
	<md-toolbar md-theme="neutral" md-whiteframe="1" class="md-primary md-hue-1">
		<div class="md-toolbar-tools">
			<span>Resident List</span>
		</div>
	</md-toolbar>

	<md-content layout="row" layout-align="center start" flex>
		<div layout="row" flex="90" layout-wrap layout-padding>
		<md-card layout="row" flex="20" ng-repeat="resident in $ctrl.residents">
			<img ng-src="{{resident.avatar}}" class="" alt="image-alt">
			<md-card-title>
				<md-card-content>
					<span class="">{{resident.firstName | ucfirst}} {{resident.lastName | ucfirst}}</span>
				</md-card-content>
			</md-card-title>
		</md-card>

		<md-list hide-gt-xs>
			<md-list-item ng-repeat="resident in $ctrl.residents">
				<md-button>
					<img ng-src="{{resident.avatar}}" class="md-avatar" alt="{{resident.name}}">
					<span>{{resident.firstName | ucfirst}} {{resident.lastName | ucfirst}}</span>
				</md-button>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
		</div>
	</md-content>
</div>