<as-vertical-toolbar hide show-gt-sm>

	<md-button class="md-icon-button md-primary" aria-label="">
		<md-icon md-svg-icon="assignment-turned-in"></md-icon>
	</md-button>
	<span>Tasks</span>

	<md-button class="md-icon-button" aria-label="">
		<md-icon md-svg-icon="local-pharmacy"></md-icon>
	</md-button>
	<span>Meds</span>

	<md-button class="md-icon-button" aria-label="">
		<md-icon md-svg-icon="healing"></md-icon>
	</md-button>
	<span>Care</span>

	<md-button class="md-icon-button" aria-label="">
		<md-icon md-svg-icon="eye"></md-icon>
	</md-button>
	<span>Watch</span>

	<md-button class="md-icon-button" aria-label="">
		<md-icon md-svg-icon="message"></md-icon>
	</md-button>
	<span>Messages</span>

</as-vertical-toolbar>

<ng-outlet layout="row" flex></ng-outlet>