<!--TODO Complete Login Form-->
<!--TODO Create Layout for login form-->

<div layout="column"
     layout-align="center center"
     flex-sm="90"
     flex-gt-sm="33">

	<h3 ng-hide="$ctrl.isLoggedIn || $ctrl.isRegister">Login</h3>
	<h3>{{$ctrl.newUserObj.email}}</h3>
	<h3 ng-show="$ctrl.isRegister && !$ctrl.isLoggedIn">Register New Account</h3>
	<h3 ng-show="$ctrl.isLoggedIn">You are currently logged in</h3>
	<h3 ng-show="$ctrl.isRegister && $ctrl.isLoggedIn">Logout to Register</h3>
	<!--TODO Add alerts here-->

	<form action="" layout="column">
		<md-input-container ng-show="$ctrl.isRegister && !$ctrl.isLoggedIn">
			<label>First Name</label>
			<input ng-model="$ctrl.newUserObj.firstName" type="text">
		</md-input-container>

		<md-input-container ng-show="$ctrl.isRegister && !$ctrl.isLoggedIn">
			<label>Last Name</label>
			<input ng-model="$ctrl.newUserObj.lastName" type="text">
		</md-input-container>

		<md-input-container ng-hide="$ctrl.isLoggedIn">
			<label>Email</label>
			<input ng-model="$ctrl.newUserObj.email" type="email">
		</md-input-container>

		<md-input-container ng-hide="$ctrl.isLoggedIn">
			<label>Password</label>
			<input ng-model="$ctrl.newUserObj.password" type="password">
		</md-input-container>
		<!--LOGIN BUTTON-->
		<md-button ng-hide="$ctrl.isLoggedIn || $ctrl.isRegister" class="md-raised md-primary"
		           ng-click="$ctrl.login($ctrl.newUserObj.email, $ctrl.newUserObj.password)">
			Login
		</md-button>
		<!--LOGOUT BUTTON-->
		<md-button ng-show="$ctrl.isLoggedIn" class="md-raised md-primary"
		           ng-click="$ctrl.logout()">
			Logout
		</md-button>
		<!--RESGISTER BUTTON-->
		<md-button ng-show="$ctrl.isRegister && !$ctrl.isLoggedIn" class="md-raised md-primary"
		           ng-click="$ctrl.registerNewUser($ctrl.newUserObj)">
			Register
		</md-button>
		<!--CREATE ACCOUNT-->
		<md-button ng-hide="$ctrl.isRegister" class=""
		           ng-click="$ctrl.goToRegister()">
			Create an Account
		</md-button>

	</form>
</div>