<!--TODO: Complete Login Form-->
<!--TODO: Create Layout for login form-->

<div layout="column"
     layout-align="center center"
     flex-sm="90"
     flex-gt-sm="33">

	<h3 ng-hide="$ctrl.isLoggedIn || $ctrl.register">Login</h3>
	<h3 ng-show="$ctrl.register && !$ctrl.isLoggedIn">Register New Account</h3>
	<h3 ng-show="$ctrl.isLoggedIn">You are currently logged in</h3>
	<h3 ng-show="$ctrl.register && $ctrl.isLoggedIn">Logout to Register</h3>
	<!--TODO: Add alerts here-->

	<form action="" layout="column">
		<md-input-container ng-show="$ctrl.register && !$ctrl.isLoggedIn">
			<label>First Name</label>
			<input ng-model="$ctrl.newUser.firstName" type="text" aria-label="First Name">
		</md-input-container>

		<md-input-container ng-show="$ctrl.register && !$ctrl.isLoggedIn">
			<label>Last Name</label>
			<input ng-model="$ctrl.newUser.lastName" type="text" aria-label="Last Name">
		</md-input-container>

		<md-input-container ng-hide="$ctrl.isLoggedIn">
			<label>Email</label>
			<input ng-model="$ctrl.newUser.email" type="email" 
			ng-keyup="$event.keyCode == 13 && $ctrl.login($ctrl.newUser.email, $ctrl.newUser.password)" aria-label="Email">
		</md-input-container>

		<md-input-container ng-hide="$ctrl.isLoggedIn">
			<label>Password</label>
			<input ng-model="$ctrl.newUser.password" type="password" 
			ng-keyup="$event.keyCode == 13 && $ctrl.login($ctrl.newUser.email, $ctrl.newUser.password)" aria-label="Password">
		</md-input-container>
		<!--LOGIN BUTTON-->
		<md-button ng-hide="$ctrl.isLoggedIn || $ctrl.register" class="md-raised md-primary"
		           ng-click="$ctrl.login($ctrl.newUser.email, $ctrl.newUser.password)">
			Login
		</md-button>
		<!--LOGOUT BUTTON-->
		<md-button ng-show="$ctrl.isLoggedIn" class="md-raised md-primary"
		           ng-click="$ctrl.logout()" aria-label="Login Button">
			Logout
		</md-button>
		<!--RESGISTER BUTTON-->
		<md-button ng-show="$ctrl.register && !$ctrl.isLoggedIn" class="md-raised md-primary"
		           ng-click="$ctrl.registerNewUser($ctrl.newUser)" aria-label="Register Button">
			Register
		</md-button>
		<!--CREATE ACCOUNT-->
		<md-button ng-hide="$ctrl.register" class=""
		           ng-click="$ctrl.goToRegister()" aria-label="Go to create account">
			Create an Account
		</md-button>

	</form>
</div>