<as-vertical-toolbar hide show-gt-sm>
	<!--NEW RESIDENT BUTTON-->
	<md-button class="md-icon-button md-accent" aria-label="Add Resident">
		<md-icon md-svg-icon="person-add"></md-icon>
	</md-button>
	<span>New</span>

	<md-divider></md-divider>
	<!--RESIDENT LIST BUTTON-->
	<md-button class="md-icon-button md-primary" ng-link="['ResidentList']" aria-label="Resident List">
		<md-icon md-svg-icon="people"></md-icon>
	</md-button>
	<span>List</span>
	<!--RESIDENT GROUPS BUTTON-->
	<md-button class="md-icon-button" ng-link="['ResidentGroups']" aria-label="Resident Groups">
		<md-icon md-svg-icon="people-outline"></md-icon>
	</md-button>
	<span>Groups</span>
</as-vertical-toolbar>


<ng-outlet layout="row" flex></ng-outlet>

