md-dialog .imageArea {
  background: #cccccc;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
md-dialog .imageArea2 {
  background: #bbbbbb;
  overflow: hidden;
  width: 200px;
  height: 200px;
}