<md-dialog class="newResidentDialog" flex-md="80" flex-lg="60" flex-gt-lg="60" aria-label="label">
  <form action="">
    <md-toolbar md-theme="neutral" md-whiteframe="1" class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <h2>New Resident Form</h2>
        <span flex="5"></span>
        <span hide show-xs>X-SMALL</span>
        <span hide show-sm>SMALL</span>
        <span hide show-md>MEDIUM</span>
        <span hide show-lg>LARGE</span>
        <span hide show-gt-lg>X-LARGE</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon md-svg-icon="clear" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content"
      layout-xs="column" 
      layout-sm="column" 
      layout-gt-sm="row" 
      layout-align-xs="start stretch"
      >
      
      <!--Column 1 Form Image-->
      <div 
        layout-xs="row" 
        layout-sm="row"
        layout-gt-sm="column" 
        layout-align="start center"
        layout-align-xs="center center"
        layout-align-sm="center center">

        <!--Select Image-->
        <div ng-hide="$ctrl.residentPhoto !== ''" class="imageArea" ngf-drop ngf-select ng-model="$ctrl.residentPhoto ">Select Image</div>

        <!--Crop Image-->
        <div ng-hide="$ctrl.residentPhoto == ''" class="imageArea">
          <img-crop 
          image="$ctrl.residentPhoto | ngfDataUrl " 
          result-image="$ctrl.residentCroppedPhoto " 
          result-image-size="150"
          area-min-size="20">
          </img-crop>
        </div>
        <!--Preview Image-->
        <div class="previewImage" hide-xs hide-sm>
          <img  ng-src="{{$ctrl.residentCroppedPhoto}}" />
        </div>
      </div>

      <span flex="5"></span> 
      
      <!--Column 2: Form Content-->
      <div layout="column ">

        <as-form-divider title="Basic Info"></as-form-divider>

        <div layout="row" flex layout-align-gt-xs="start start" layout-wrap>
        
          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>First Name</label>
            <input type="text " ng-model="$ctrl.resident.firstName " aria-label="First Name ">
          </md-input-container>
          <span flex="5"></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Middle Name</label>
            <input type="text " ng-model="$ctrl.resident.middleName " aria-label="Middle Name ">
          </md-input-container>
          <span hide-xs flex="5 "></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Last Name</label>
            <input type="text " ng-model="$ctrl.resident.lastName " aria-label="Last Name ">
          </md-input-container>
          <span hide show-xs flex="5 "></span>

          <md-input-container>
            <label>Gender</label>
            <md-select ng-model="$ctrl.resident.gender " placeholder="Gender ">
              <md-option ng-value="gender" ng-repeat="gender in $ctrl.genderOptions ">
                {{ gender | ucfirst}}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex="5 "></span>
          <md-input-container>
            <label>Birth Date</label>
            <md-datepicker flex ng-model="$ctrl.resident.dateOfBirth " md-max-date="$ctrl.today" ></md-datepicker>
          </md-input-container>

        </div>
        
        <!--Insurance Info-->
        <as-form-divider title="Insurance Info"></as-form-divider>

        <div layout="row" flex layout-align-gt-xs="start start" layout-wrap>
        
          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>First Name</label>
            <input type="text " ng-model="$ctrl.resident.firstName " aria-label="First Name ">
          </md-input-container>
          <span flex="5"></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Middle Name</label>
            <input type="text " ng-model="$ctrl.resident.middleName " aria-label="Middle Name ">
          </md-input-container>
          <span hide-xs flex="5 "></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Last Name</label>
            <input type="text " ng-model="$ctrl.resident.lastName " aria-label="Last Name ">
          </md-input-container>
          <span hide show-xs flex="5 "></span>

          <md-input-container>
            <label>Gender</label>
            <md-select ng-model="$ctrl.resident.gender " placeholder="Gender ">
              <md-option ng-value="gender" ng-repeat="gender in $ctrl.genderOptions ">
                {{ gender | ucfirst}}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex="5 "></span>
          <md-input-container>
            <label>Birth Date</label>
            <md-datepicker flex ng-model="$ctrl.resident.dateOfBirth " md-max-date="$ctrl.today" ></md-datepicker>
          </md-input-container>

        </div>

        <!--Family Info-->
        <as-form-divider title="Family Info"></as-form-divider>

        <div layout="row" flex layout-align-gt-xs="start start" layout-wrap>
        
          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>First Name</label>
            <input type="text " ng-model="$ctrl.resident.firstName " aria-label="First Name ">
          </md-input-container>
          <span flex="5"></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Middle Name</label>
            <input type="text " ng-model="$ctrl.resident.middleName " aria-label="Middle Name ">
          </md-input-container>
          <span hide-xs flex="5 "></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Last Name</label>
            <input type="text " ng-model="$ctrl.resident.lastName " aria-label="Last Name ">
          </md-input-container>
          <span hide show-xs flex="5 "></span>

          <md-input-container>
            <label>Gender</label>
            <md-select ng-model="$ctrl.resident.gender " placeholder="Gender ">
              <md-option ng-value="gender" ng-repeat="gender in $ctrl.genderOptions ">
                {{ gender | ucfirst}}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex="5 "></span>
          <md-input-container>
            <label>Birth Date</label>
            <md-datepicker flex ng-model="$ctrl.resident.dateOfBirth " md-max-date="$ctrl.today" ></md-datepicker>
          </md-input-container>

        </div>

        <!--Other Info-->
        <as-form-divider title="Other Info"></as-form-divider>

        <div layout="row" flex layout-align-gt-xs="start start" layout-wrap>
        
          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>First Name</label>
            <input type="text " ng-model="$ctrl.resident.firstName " aria-label="First Name ">
          </md-input-container>
          <span flex="5"></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Middle Name</label>
            <input type="text " ng-model="$ctrl.resident.middleName " aria-label="Middle Name ">
          </md-input-container>
          <span hide-xs flex="5 "></span>

          <md-input-container flex-xs="45" flex-gt-xs="30">
            <label>Last Name</label>
            <input type="text " ng-model="$ctrl.resident.lastName " aria-label="Last Name ">
          </md-input-container>
          <span hide show-xs flex="5 "></span>

          <md-input-container>
            <label>Gender</label>
            <md-select ng-model="$ctrl.resident.gender " placeholder="Gender ">
              <md-option ng-value="gender" ng-repeat="gender in $ctrl.genderOptions ">
                {{ gender | ucfirst}}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex="5 "></span>
          <md-input-container>
            <label>Birth Date</label>
            <md-datepicker flex ng-model="$ctrl.resident.dateOfBirth " md-max-date="$ctrl.today" ></md-datepicker>
          </md-input-container>

        </div>

      </div>

    </md-dialog-content>
    <md-dialog-actions>
      <md-button ng-click="$ctrl.submitResident($ctrl.resident) " class="md-primary md-raised " aria-label="Save Resident ">Save</md-button>
      <md-button ng-click="$ctrl.cancel() " class=" " aria-label="Cancel ">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>