md-dialog.newResidentDialog {

  .selectImage, .cropImage {
    background: $mdc-grey-100;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }

  .selectImage:hover {
    cursor: pointer;
  }


}

