<div layout="column"
     layout-align="center center"
     flex-sm="90"
     flex-gt-sm="33">

	<h3>Create New Company Account</h3>
	
	<!--TODO Add alerts here-->

	<form action="" layout="column">
		
		<md-input-container>
			<label>Company Name</label>
			<input ng-model="$ctrl.company.name" type="text">
		</md-input-container>
    
    <md-input-container>
			<label>First Name</label>
			<input ng-model="$ctrl.newUserObj.firstName" type="text">
		</md-input-container>

		<md-input-container>
			<label>Last Name</label>
			<input ng-model="$ctrl.newUserObj.lastName" type="text">
		</md-input-container>

		<md-input-container>
			<label>Email</label>
			<input ng-model="$ctrl.newUserObj.email" type="email">
		</md-input-container>

		<md-input-container>
			<label>Password</label>
			<input ng-model="$ctrl.newUserObj.password" type="password">
		</md-input-container>
		
		<!--Create Account-->
		<md-button class="" ng-click="$ctrl.createAccount($ctrl.newUserObj, $ctrl.company)">
			Create an Account
		</md-button>

	</form>
</div>