<md-toolbar md-whiteframe="3">
	<div class="md-toolbar-tools">
		<!--MOBILE SIDENAV BUTTON-->
		<md-button md-theme="neutral" hide-gt-sm
		           class="md-icon-button md-primary md-hue-1"
		           aria-label="Expand Sidenav"
		           ng-click="$ctrl.toggleMobileSidenav()">
			<md-icon md-svg-icon="menu"></md-icon>
		</md-button>
		<md-icon style="margin-right:16px;" hide show-gt-sm></md-icon>
		<!--MAVIGATION BUTTONS-->
		<div hide show-gt-sm layout="row" flex>
			<md-button ng-link="['Dashboard']" aria-label="Dashboard Module">Dashboard
			</md-button>
			<md-button ng-link="['Residents']" aria-label="Residents Module">Residents
			</md-button>
			<md-button aria-label="Staff Module">Staff</md-button>
			<md-button aria-label="Company Module">Company</md-button>
		</div>


		<!--USER INFO-->
		<img show-gt-sm ng-src="{{$ctrl.user.avatar}}" class="md-avatar">
		<p show-gt-sm>{{$ctrl.user.firstName | uppercase}} {{$ctrl.user.lastName | uppercase}}</p>
		<md-menu>
			<md-button ng-click="$mdOpenMenu($event)" md-theme="neutral"
			           class="md-icon-button md-pirmary md-hue-1"
			           aria-label="Menu">
				<md-icon md-svg-icon="more-vert"></md-icon>
			</md-button>
			<md-menu-content width="4">

				<md-menu-item>
					<md-button>
						<md-icon md-svg-icon="account-circle"></md-icon>
						Profile
					</md-button>
				</md-menu-item>

				<md-menu-item>
					<md-button>
						<md-icon md-svg-icon="settings"></md-icon>
						Settings
					</md-button>
				</md-menu-item>

				<md-menu-item>
					<md-button ng-link="['Logout']">
						<md-icon md-svg-icon="settings"></md-icon>
						Logout
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>